.wrapper {
  font-weight: 700;
  color: #b3b3b3;

  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
}
