.wrapper {
  width: 56px;
  height: 56px;

  position: relative;
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.onHover{
    display: none;
}

.wrapper:hover .onHover{
    display: block;
}