.installAppWrapper{
  width: 100%;
  height: 40px;
  padding: 10px 0;
}

.link{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.installAppWrapper svg {
  fill: var(--color-secondary);
}

.text{
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  color: var(--text-secondary);
}

.itemActive .text{
  color: var(--text-primary);
}

.itemActive svg{
  fill: #fff;
}