.navigationMenu{
  padding-top: 34px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.menuItem{
  display: flex;
  align-items: center;
  column-gap: 18px;
}

.menuIcon svg{
  width: 24px;
  fill: #fff;
}

.menuText{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--text-secondary);
}

/* active item class */
.activeIcon svg{
  width: 24px;
  fill: #fff;
}

.activeText{
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: var(--text-primary);
}

/* menu hover */
.menuItem:hover .menuText{
  color: var(--text-primary);

}

.menuItem:hover .menuIcon svg{
  fill: #fff;
}