.trackImageWrapper{
  height: 51px;

  object-fit: cover;

  position: relative;
}

.trackImage{
  width: 51px;
  height: 51px;
}

.imageToggle{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);

  display: none;

  position: absolute;
  top: 4px;
  right: 3px;
}
.trackImageWrapper:hover .imageToggle{
  display: block;  
}
.imageToggle svg {
  width: 15px;
  fill: #fff;
}

.imageToggleOpen{
 transform: rotate(-90deg);
}

.imageToggleClose{
  transform: rotate(90deg);
 }