.playerPlayButton{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fff;

  display: grid;
  place-content: center;
}
.playerPlayButton svg{
  width: 16px;
  height: 16px;
  fill: #000;
}
.playerPlayButton:hover{
  transform: scale(1.07);
}