.btnWrapper{
  height: 100px;
  
  display: flex;
  align-items: center;
}

.btn{
  padding: 7px 15px;
  border-radius: 18px;
  border: 1px rgba(255,255,255,0.4) solid;

  font-size: 14px;
  font-weight: 700;
  /* line-height: 24px; */
  color: #fff;
}

.btn:hover{
  transform: scale(1.03);
  border: 1.5px rgba(255,255,255,1) solid;
}