.gridColumns{
  grid-template-columns: 30px 1.7fr 1.5fr 1fr 1fr 100px;
}

/* create playlist */
@media screen and (max-width: 1286px) {
  .dateAdded {
    display: none ;
  }

  .gridColumns {
    grid-template-columns: 30px 1.7fr 1.5fr 1fr 100px;
  }
}

@media screen and (max-width: 1030px) {
  .relDate {
    display: none;
  }

  .gridColumns {
    grid-template-columns: 30px 1.7fr 1fr 100px ;
  }
}

@media screen and (max-width: 860px) {
  .trackType {
    display: none !important;
  }

  .gridColumns {
    grid-template-columns: 30px 1fr 100px ;
  }
}
