.playerRightWrapper{
  width: 300px;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 16px;
}
.colOne{
  display: flex;
  column-gap: 16px;
}
.colTwo{
  display: flex;
  align-items: center;
  column-gap: 8px;
}