.playerMiddleWrapper{
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.rowOne{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

.rowTwo{
  display: flex;
  align-items: center;
  column-gap: 8px;
}