.playerLeftWrapper{
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.colOne{
  display: flex;
  column-gap: 13px;
}
.colTwo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}