.wrapper {
  width: 100%;
  aspect-ratio: 1/1;

  display: grid;
  place-content: center;

  position: relative;
}
.wrapper svg{
  width: 60px;
  height: 60px;
}

.playBtn {
  width: 48px;
  height: 48px;
  background-color: #1ccd5b;
  display: var(--display-playBTn);

  position: absolute;
  bottom: 8px;
  right: 8px;
  z-index: 2;
}

.playBtn svg {
  height: 18px;
  width: 18px;
}

.playBtn:hover {
  background-color: #1fdf64;
  transform: scale(1.03);
}
