.btn {
  position: relative;
}

.btn svg {
  width: 16px;
  height: 16px;
  fill: #bababa;
}

.active svg {
  fill: #1ed760;
}

.active::after {
  width: 4px;
  height: 4px;
  border-radius: 3px;
  background-color: #1ed760;

  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}


.btn:hover svg {
  fill: #fff;
}

.active:hover svg {
  fill: #1ed760;
}