.wrapper{
  display: flex;
}

.menuWrapper {
  padding: 16px;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}

.activeTab {
  background-color: #333333;
}
